# Module 2: Exercise B

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In this exercise, we will apply a PCA model to the direct marketing campaigns dataset of a banking institution. The classification goal is to predict if a client will subscribe to a term deposit. The variable __y__ represents the outcome of the phone call:

- `1` indicates that the client subscribed to a term deposit.
- `0` indicates that they did not.

## Data Preprocessing

Let’s begin by importing the data and creating some visualizations.

In [2]:
bank = pd.read_csv('bank_campaign.csv')
bank.head()

,age,education,balance,duration,campaign,pdays,previous,y,job_blue-collar,job_entrepreneur,...,job_technician,job_unemployed,marital_married,marital_single,poutcome_other,poutcome_success,poutcome_unknown,default_yes,housing_yes,loan_yes
0,30.0,1,1787.0,79.0,1.0,999.0,0.0,0,False,False,...,False,True,True,False,False,False,True,False,False,False
1,33.0,2,4789.0,220.0,1.0,339.0,4.0,0,False,False,...,False,False,True,False,False,False,False,False,True,True
2,35.0,3,1350.0,185.0,1.0,330.0,1.0,0,False,False,...,False,False,False,True,False,False,False,False,True,False
3,59.0,2,0.0,226.0,1.0,999.0,0.0,0,True,False,...,False,False,True,False,False,False,True,False,True,False
4,35.0,3,747.0,141.0,2.0,176.0,3.0,0,False,False,...,False,False,False,True,False,False,False,False,False,False

In [3]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4332 entries, 0 to 4331
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                4332 non-null   float64
 1   education          4332 non-null   int64
 2   balance            4332 non-null   float64
 3   duration           4332 non-null   float64
 4   campaign           4332 non-null   float64
 5   pdays              4332 non-null   float64
 6   previous           4332 non-null   float64
 7   y                  4332 non-null   int64
 8   job_blue-collar    4332 non-null   bool
 9   job_entrepreneur   4332 non-null   bool
 10  job_housemaid      4332 non-null   bool
 11  job_management     4332 non-null   bool
 12  job_retired        4332 non-null   bool
 13  job_self-employed  4332 non-null   bool
 14  job_services       4332 non-null   bool
 15  job_student        4332 non-null   bool
 16  job_technician     4332 non-null   bool
 17  job_unemployed     4332 non-null   bool
 18  marital_married    4332 non-null   bool
 19  marital_single     4332 non-null   bool
 20  poutcome_other     4332 non-null   bool
 21  poutcome_success   4332 non-null   bool
 22  poutcome_unknown   4332 non-null   bool
 23  default_yes        4332 non-null   bool
 24  housing_yes        4332 non-null   bool
 25  loan_yes           4332 non-null   bool
dtypes: bool(18), float64(6), int64(2)
memory usage: 347.0 KB

>__Task 1__
>
>- Check unique values in `y`
>- Plot the count of each class

In [ ]:
...

### Split the Data

>__Task 2__
>
>Split the data into `X_train`, `X_test`, `y_train`, `y_test` 
>
>- Note that the feature set should exclude the column `y`
>- Set a 80(train):20(test) ratio
>- Set 156 randomness and use stratified split

In [ ]:
...

### Standardize the Data

>__Task 3__
>
>Standardize both train and test sets
>
>- Fit the scaler to the train set
>- Transform both train and test sets using the fitted scaler

In [ ]:
...

## PCA Implementation

>__Task 4__
>
>- Fit a PCA model on the train set
>- Transform both train and test sets
>- Save the transformed data in DataFrame named `X_train_pca` and `X_test_pca` respectively
>- Check out the first 5 rows of the transformed data points in the test set

In [ ]:
...

>__Task 5__
>
>- Print the weight of the first feature (column) in the first principal component (PC)
>- Save PCs into a DataFrame and print out the first 5 PCs

In [ ]:
...

### Visualize the Explained Variance

>__Task 6__
>
>- Print the amount of variance explained by PCs
>- Print the proportion of the variance explained

In [ ]:
...

>__Task 7__
>
>Create a scree plot to visualize the proportion of the variance explained

In [ ]:
...

>__Task 8__
>
>Create a line plot to show the cumulative variability
>
>How many principal axes (columns) are necessary to explain 90% variability in the data?

In [ ]:
...

Let’s plot the first two principal components and check whether the 2D representation effectively captures and distinguishes the variability in the data.

>__Task 9__
>
>Visualize the first two PCs (Hint: use scatter plot from seaborn and set `hue`)

In [ ]:
...

From data visualization, we can see that the transformed 2D data can differentiate between class 0 and class 1 to some extent. Let’s proceed with the actual models.

## Logistic Regression Model

>__Task 10__
>
>Implement a logistic regression model on the __original data__
>
>- Fit a logistic regression model on the train set
>- Make predictions on the test set
>- Calculate the *accuracy*, *precision* and *recall* using predictions and actual target values

In [ ]:
...

>__Task 11__
>
>Implement a logistic regression model on the __transformed data by PCA__
>
>- Fit a logistic regression model on the train set
>- Make predictions on the test set
>- Calculate the *accuracy*, *precision* and *recall* using predictions and actual target values

In [ ]:
...

>__Task 12__
>
>Implement a logistic regression model on the __first 18 columns of the transformed data by PCA__
>
>- Fit a logistic regression model on the train set
>- Make predictions on the test set
>- Calculate the *accuracy*, *precision* and *recall* using predictions and actual target values

In [ ]:
...

>__Task 13__
>
>Implement a logistic regression model on the __first 5 columns of the transformed data by PCA__
>
>- Fit a logistic regression model on the train set
>- Make predictions on the test set
>- Calculate the *accuracy*, *precision* and *recall* using predictions and actual target values

In [ ]:
...